blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: .25rem solid #eceeef;
}

pre {
    border: solid 1px silver;
    border-radius: 4px;
    background: whitesmoke;
}

p {
    line-height: 2em;
}