<nav id="toc" class="toc"></nav>
<script>
$(function() {
  var toc = $('#toc')
  tocbot.init({
    tocSelector: '#toc',
    contentSelector: 'main article',
    headingSelector: 'h1, h2, h3',
  });
  var offset = toc.offset();
  toc.width(toc.width());
  $(window).scroll(function () {
    if (!window.matchMedia("only screen and (max-width: 768px)").matches && $(window).scrollTop() > offset.top) {
      toc.addClass('fixed');
    } else {
      toc.removeClass('fixed');
    }
  });
});
</script>
