---
---

@import "bootstrap";

nav.navbar-top {
    margin: 0;
}

.jumbotron {
    padding: 60px 0;
    margin: 0;
    background: limegreen;
    color: white;
}

/* Table of Contents */

@import "bootstrap-toc";

#toc {
  position: relative;
}
#toc.fixed {
  position: fixed;
  top: 20px;
}

/* Footer */

footer.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
}

.category {
    background: lightgrey;
    color: black;
    outline: none;
    position: relative;
    height: 20px;
    padding: 0 8px;
    display: inline-block;
    margin: auto 10px;
    &::before {
        content: '';
            height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-right-color: lightgrey;
    left: -20px;
    top: 0;
    }
}
