---
---

@import 'tocbot-core';
@import 'toc';
@import 'tweek';

body {
    position: relative;
}

.theme-color {
    background: limegreen;
}

.text-black {
    color: black;
}
.bg-white {
    background: white;
}

main article {
    h1 {
        border-bottom: solid 3px gainsboro;
    }
    h2 {
        border-bottom: solid 1px gainsboro;
    }
}

.toolbar {
    height: 40px;
}

.navbar {
    border-bottom: 1px solid #eee;
}

.share {
    border-top: solid 6px lightgray;
}

[id^=___plusone] {
  width:65px !important;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.pocket-btn {
  display: inline-block;
}

footer.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
}

.category {
    background: lightgrey;
    color: black;
    outline: none;
    position: relative;
    font-size: 0.9rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0 8px;
    display: inline-block;
    margin: auto 20px;
    &::before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: 0.5rem solid transparent;
        border-right-color: lightgrey;
        left: -1rem;
        top: 0;
    }
    &::after {
        content: attr(data-count);
        display: inline-block;
        padding: 0 0.5em;
        text-align: center;
        color: white;
        background: darkslategrey;
        position: absolute;
        margin-left: 8px;
    }
}
