<section class="toolbar navbar navbar-toggleable navbar-top navbar-light bg-faded">
  <div class="container">
    <div class="navbar-nav mr-auto">
      <time class="navbar-text">Posted at {{ page.date | date_to_string }}</time>
    </div>
    <ul class="navbar-nav hidden-sm-down">
      <li class="nav-item mx-3">
        <span class="navbar-text"><i class="fa fa-folder-open" aria-hidden="true"></i> Stock</span>
      </li>
      <li class="nav-item mx-3">
         <span class="navbar-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
      </li>
    </ul>
  </div>
</section>