---
layout: default
---
{% include post/header.html %}
{% include post/toolbar.html %}

<main class="container pt-4">
  <section class="row">
    <div class="col-md-9" data-spy="scroll" data-target="#toc" data-offset="0">
        {% capture one_year %}{{ 60 | times: 60 | times: 24 | times: 365 }}{% endcapture %}
        {% capture current_time %}{{ site.time | date: "%s" }}{% endcapture %}
        {% capture year_old %}{{ page.date | date: "%s" | minus: current_time | divided_by: one_year | plus: 1 }}{% endcapture %}
        {% if year_old contains '-' %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-clock-o" aria-hidden="true"></i> This article is more than 1 year old. Please read this page keeping its age in your mind.
        </div>
        {% endif %}
        <article>
        {{ content }}
        </article>
        <div class="w-100 bg-light share p-3 my-5">
        {% include post/share.html %}
        </div>
        {% include post/disqus.html %}
    </div>
    <div class="col-md-3">
        {% include post/sidebar.html %}
    </div>
  </section>
</main>
