<ul class="nav nav-pills nav-stacked toc">
</ul>
<script>
  // Will be jQueried
  var toc = document.querySelector('.toc');
  var hs = document.querySelector('main article').querySelectorAll('h1');
  hs = Array.from(hs);
  hs.forEach(function(elm) {
    elm.id = encodeURIComponent(elm.innerText);
    var li = document.createElement('li')
    var a = document.createElement('a')
    a.href = '#' + elm.id;
    a.innerText = elm.innerText;
    li.appendChild(a)
    toc.appendChild(li)
  })
</script>